body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    
    margin: 0;
}

header{
    background-color: #333;
    color: #fff;
    margin: 0;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: auto;
}

.header-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header-nav ul li{
    display: inline;
    padding: 10px;
}
.header-nav ul li a {
    color: #fff;
}


footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position:fixed;
    bottom: 0;
    width: 100%;
}
.login-cont{
    max-width: 1000px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
}
.login-form{
    width: 80%;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.input-field{
    width: 100%;
    margin: auto;
    padding: 10px;
    
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.login-form-text{
   text-align: center;
    font-size: large;
}
.login-text{
    color: #535151;
}
.submit-button{
    
    width: 100%;
    padding: 10px;
    margin: 2px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.submit-button:hover{
    background-color: #45a049;
}